server:
  port: ${PORT:8080}

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 100

  flyway:
    enabled: ${FLYWAY_ENABLED:false}
    baseline-on-migrate: true

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false